In [61]:
import pandas as pd
import numpy as np
import collections

In [509]:
data = pd.read_csv('whole_datasets.csv', sep = '\t', header = None)
scn_id = pd.read_csv('scn_id_comma.csv')
data = data.fillna(1)
tags = data[0].values.tolist()
times = data[1].values.tolist()

In [613]:
data = data.drop(data.index[1040:1130],0)
data.reset_index(drop = True, inplace = True)

In [614]:
data.ix[1040:1045]

                                                 0        1
1040              体育休闲服务;娱乐场所;娱乐场所|体育休闲服务;运动场馆;网球场      1.0
1041  体育休闲服务;娱乐场所;娱乐场所|政府机构及社会团体;政府机关;乡镇以下级政府及事业单位      1.0
1042              体育休闲服务;娱乐场所;娱乐场所|生活服务;摄影冲印店;摄影冲印      1.0
1043         体育休闲服务;娱乐场所;娱乐场所|科教文化服务;科教文化场所;科教文化场所      5.0
1044              体育休闲服务;娱乐场所;娱乐场所|购物服务;专卖店;自行车专卖店      2.0
1045                               体育休闲服务;娱乐场所;棋牌室  33362.0

In [225]:
dic.pop('Hadoop job information for Stage-1: number of mappers: 66; number of reducers: 12')

1.0

In [615]:
dic = {}
for i, row in enumerate(data[0]):
    try:
        row_content = row.split('|')
        for j in row_content:
            dic[j] = 0
    except Exception as e:
            print i, row
for i, row in enumerate(data[0]):
    try:
        row_content = row.split('|')
    except Exception as e:
            print i, row 
    for j in row_content:
        dic[j] =  dic[j] + data[1][i]

In [673]:
sum(dic.values())

63416899.0

In [618]:
for key, item in dic.items():
    if ';' not in key:
        dic.pop(key)

In [698]:
def get_level_tags(tags):
    tag2 = []
    tag3 = []
    tag1 = []
    count = 0
    for i in tags:
        tag = i.split(';')
        try:
            tag1.append(tag[0])
            tag2.append(tag[1])
            tag3.append(tag[2])
            count += 1
        except Exception as e:
            print i
        if count % 100 == 0:
            print count
    return tag1, tag2, tag3

def get_number(tag1,tag2, tag3): # input a pair (level2,level3)
    outlier_dic = {'7-ELEVEn便利店':'2.11.3.3.','东风雪铁龙维修1':'2.21.21.2.','梅赛德斯-奔驰维修1':'2.21.22.2.',
                  '雪佛兰销售1':'2.14.32.3.','进口起亚销售2':'2.14.4.3.','吉利销售1':'2.14.16.1.','汽车服务相关1':'2.20.7.1.',
                  '地市级政府及事业单位1':'2.7.3.9.','汽车维修1':'2.21.45.1.','东风悦达起亚维修2':'2.21.32.1.',
                   '东风悦达起亚销售1':'2.14.4.1.','北京汽车维修1':'2.21.37.1.','梅赛德斯-奔驰维修2':'2.21.22.2.',
                   '东风雪铁龙销售1':'2.14.28.3.','荣威销售1':'2.14.37.1.','起亚销售1':'2.14.4.2.',
                  '区县级政府及事业单位1':'2.7.3.5.','乡镇级政府及事业单位1':'2.7.3.6.','雪佛兰维修1':'2.21.35.5.'}
    # geting the scn_id 
    level2tags = scn_id[scn_id['scn_id.2'].notnull()][['scn_id.2','scn_name_zh']]
    level3tags = scn_id[scn_id['scn_id.3'].notnull()][['scn_id.3','scn_name_zh']]
    level1tags = scn_id[scn_id['scn_id.1'].notnull()][['scn_id.1','scn_name_zh']]
   
    row = level3tags[level3tags['scn_name_zh'] == tag3]
    if len(row) == 1:
        number = row['scn_id.3'].values.tolist()[0]
       
    if len(row) == 2:
        level2row = level2tags[level2tags['scn_name_zh'] == tag2] 
        level2num = level2row['scn_id.2'].values.tolist()[0]
        level2num1 = level2num.split('.')[2]
        
        for n in row['scn_id.3'].values.tolist():
            
            if level2num1 in n:
                number = n 
                print tag2, level2num, tag3 ,number
    
    if len(row) == 3:
        level1row = level1tags[level1tags['scn_name_zh'] == tag1] 
        level1num = level1row['scn_id.1'].values.tolist()[0]
        level1num1 = level1num.split('.')[1]
        #number = 'NULL'
        for n in row['scn_id.3'].values.tolist():          
            if level1num1 in n:
                number = n 
    for key in outlier_dic.keys():
        if tag3 == key:
            number = outlier_dic[key]
        
            
    try:    
        tag_id = tag3 + ' ' + number
        
    except Exception as e:
        print row, 
        print 'tag3',tag3
        print 'tag2', tag2
        tag_id = 'NULL' 
        
    return tag_id

def tag_id_list(tag1, tag2, tag3):
    tag_id_list = []
    count = 0
    for tag_pair in zip(tag1, tag2, tag3):
        tag_id = get_number(tag_pair[0], tag_pair[1], tag_pair[2])
        
        tag_id_list.append(tag_id)
        count += 1
        if count%100 == 0:
            print count
    return tag_id_list

def freq(tags):
    count = collections.Counter(tags)
    frequency_dic = {}
    for key,value in count.items():
        frequency_dic[key] = (value, 100.0*value/len(tags))
        #print key, value
    return frequency_dic

def new_df(dic):
    freq_df = pd.DataFrame(columns = ['tags','time_appears','frequency']) 
    time = []
    freq = []
    unique_tag = []
    for key, value in dic.items():
        time.append(value[0])
        freq.append(value[1])
        unique_tag.append(key)
        #print key, 'Times appears: %d, frequency: %.2f'%(value[0],value[1]) + '%'
    freq_df.time_appears = time
    freq_df.tags = unique_tag
    freq_df.frequency = freq
    freq_df.sort('time_appears', ascending =False,inplace = True)
    freq_df.reset_index(inplace = True, drop = True)
    return freq_df

def dic2df(dic, file_name = None):         # transform the dictionary from freq() into a dataframe
    freq_df = pd.DataFrame(columns = ['tags','time_appears','frequency']) 
    time = []
    freq = []
    unique_tag = []
    for key, value in dic.items():
        time.append(value[0])
        freq.append(value[1])
        unique_tag.append(key)
        #print key, 'Times appears: %d, frequency: %.2f'%(value[0],value[1]) + '%'
    freq_df.time_appears = time
    freq_df.tags = unique_tag
    freq_df.frequency = freq
    freq_df.sort('time_appears', ascending =False,inplace = True)
    freq_df.reset_index(inplace = True, drop = True)

    #freq_df.to_csv(file_name)
    print 'file saved!'
    return freq_df

In [690]:
tags = dic.keys()

In [694]:
tag1all, tag2all, tag3all = get_level_tags(tags)

100
200
300
400
500
600
700
800

In [699]:
taglist = tag_id_list(tag1all, tag2all, tag3all)

普通地名 2.9.6. 区县级地名 2.9.6.6.
普通地名 2.9.6. 地市级地名 2.9.6.7.
事务所 2.12.12. 事务所 2.12.3.2.
事务所 2.12.12. 事务所 2.12.12.3.
 事务所  2.12.3. 会计师事务所 2.12.3.1.
100
普通地名 2.9.6. 省级地名 2.9.6.4.
 门牌信息 2.9.5. 道路门牌 2.9.5.2.
普通地名 2.9.6. 街道级地名 2.9.6.9.
行政地名 2.9.3. 村庄级地名 2.9.3.6.
200
 事务所  2.12.3. 事务所 2.12.3.2.
 事务所  2.12.3. 事务所 2.12.12.3.
行政地名 2.9.3. 乡镇级地名 2.9.3.1.
行政地名 2.9.3. 乡镇级地名 2.9.6.3.
行政地名 2.9.3. 地市级地名 2.9.3.5.
普通地名 2.9.6. 乡镇级地名 2.9.6.3.
300
出入口 2.1.15. 出入口 2.1.15.1.
 门牌信息 2.9.5. 门牌信息 2.9.2.5.
 门牌信息 2.9.5. 门牌信息 2.9.5.3.
400
飞机场 2.1.7. 飞机场 2.1.7.1.
门牌信息 2.9.2. 楼栋号 2.9.2.1.
门牌信息 2.9.2. 楼栋号 2.9.5.1.
机场相关 2.1.10. 飞机场 2.1.10.5.
汽车服务相关 2.5.1. 汽车服务相关 2.5.1.1.
汽车服务相关 2.5.1. 汽车服务相关 2.20.7.1.
行政地名 2.9.3. 省级地名 2.9.3.3.
500
普通地名 2.9.6. 村庄级地名 2.9.3.6.
普通地名 2.9.6. 村庄级地名 2.9.6.2.
行政地名 2.9.3. 区县级地名 2.9.3.4.
事务所 2.12.12. 会计师事务所 2.12.3.1.
事务所 2.12.12. 会计师事务所 2.12.12.2.
汽车服务相关 2.5.1. 汽车服务相关 2.5.1.1.
汽车服务相关 2.5.1. 汽车服务相关 2.20.7.1.
600
事务所 2.12.12. 律师事务所 2.12.3.3.
事务所 2.12.12. 律师事务所 2.12.12.4.
行政地名 2.9.3. 街道级地名 2.9.3.7.
门牌信息 2.9.2. 道路门牌 2.9.2.2.
门牌信息 2.9.2. 道路门牌 2.9.5.2.
700
 事务所  2.12.3. 律师事务所 2.12.3.3.
 门牌信息 2.9.5. 楼栋号 2.9.5.1.
800
门牌信息 2.9.2. 门牌信息 2.9.2.5.
门牌信息 2.9.2. 门牌信息 2.9.5.3.
地铁站 2.1.14. 出入口 2.1.14.2.

In [520]:
#taglist.remove('NULL')

In [633]:
freq_dic = freq(taglist)

In [653]:
data_freq = dic2df(freq_dic)

file saved!

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:119: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

In [654]:
data_freq.head()

             tags  time_appears  frequency
0   门牌信息 2.9.5.3.             2    0.22805
1   道路门牌 2.9.5.2.             2    0.22805
2  事务所 2.12.12.3.             2    0.22805
3  乡镇级地名 2.9.6.3.             2    0.22805
4    楼栋号 2.9.5.1.             2    0.22805

In [454]:
# name = data_freq.tags

# notnull_data = data_freq
# notnull_data.reset_index(inplace = True)
# freq = notnull_data.frequency
# time_appear = notnull_data.time_appears
# freq_sum =(time_appear* freq).sum()

In [656]:
tag_id = data_freq.tags
tag_id[:10]

0       门牌信息 2.9.5.3.
1       道路门牌 2.9.5.2.
2      事务所 2.12.12.3.
3      乡镇级地名 2.9.6.3.
4        楼栋号 2.9.5.1.
5    汽车服务相关 2.20.7.1.
6       博彩中心 2.4.6.4.
7     起亚维修 2.21.32.3.
8    电力营业厅 2.12.14.1.
9      东北菜 2.19.3.11.
Name: tags, dtype: object

In [657]:

for i in range(len(tag_id)):
    row = tag_id[i]
    tag = row.split(' ')[0]
    scn_id1 = row.split(' ')[1]
    data_freq.ix[i, 'tags'] = tag
    data_freq.ix[i, 'scn_id'] = scn_id1

In [658]:
tag_id = data_freq.tags
data_freq.head()

    tags  time_appears  frequency      scn_id
0   门牌信息             2    0.22805    2.9.5.3.
1   道路门牌             2    0.22805    2.9.5.2.
2    事务所             2    0.22805  2.12.12.3.
3  乡镇级地名             2    0.22805    2.9.6.3.
4    楼栋号             2    0.22805    2.9.5.1.

In [659]:
dic2 = {}
not_match = []
key_list = []
for i in tag_id:
    for key in dic.keys():
        key3 = key.split(';')[2]
        if i in key3:
            value = dic[key]
            dic2[i] = value
            key_list.append(key3)

In [660]:
set(tag_id) - set(key_list)

{'Pacific'}

In [681]:
bb = []
for key in dic.keys():
    aa = key.split(';')[2]
    bb.append(aa)

In [688]:
setbb = set(bb)
for item in bb:
    if item not in setbb:
        print item

In [675]:
len(set(key_list))

862

In [661]:
for key in dic.keys():
    if 'Pacific' in key:
        print key, dic[key]

餐饮服务;咖啡厅;Pacific Coffee Company 744.0

In [662]:
frequency = data_freq.frequency

In [663]:
total_freq = 0
for n, freq in enumerate(frequency):
    tag = data_freq.tags[n]
    try:    
        value = dic2[tag]
        total_freq = total_freq + value * freq
    except Exception as e:
        print e

In [664]:
for n, freq in enumerate(frequency):
    tag = data_freq.tags[n]
    value = dic2[tag]
    if tag == 'Pacific':
        value = int(744)
    data_freq.ix[n,'time_appears'] = value * data_freq.time_appears[n]
    data_freq.ix[n,'frequency_new2'] = 100.0*freq * value/total_freq

In [665]:
data_freq.head()

    tags  time_appears  frequency      scn_id  frequency_new2
0   门牌信息       19630.0    0.22805    2.9.5.3.        0.034585
1   道路门牌       35308.0    0.22805    2.9.5.2.        0.062207
2    事务所          14.0    0.22805  2.12.12.3.        0.000025
3  乡镇级地名       85652.0    0.22805    2.9.6.3.        0.150904
4    楼栋号      395736.0    0.22805    2.9.5.1.        0.697218

In [666]:
data_freq = data_freq.drop(['frequency'],axis = 1)

In [667]:
data_freq.head()

    tags  time_appears      scn_id  frequency_new2
0   门牌信息       19630.0    2.9.5.3.        0.034585
1   道路门牌       35308.0    2.9.5.2.        0.062207
2    事务所          14.0  2.12.12.3.        0.000025
3  乡镇级地名       85652.0    2.9.6.3.        0.150904
4    楼栋号      395736.0    2.9.5.1.        0.697218

In [668]:
data_freq.columns = ['tags','time_appears','scn_id','frequency%']

In [669]:
data_freq.sort('time_appears', ascending =False,inplace = True)
#data_freq.to_csv('wholedata.csv')

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

In [670]:
data_freq.reset_index(drop = True, inplace = True)

In [672]:
#data_freq.to_csv('wholedata.csv')

In [671]:
data_freq.time_appears.sum()

56759323.0